@import url("fbi/stylesheet.css");
@import url("futuralight/stylesheet.css");
html {
  scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    background-color: floralwhite;
    font-size: 20px;
    height: 2500px;
}
body::-webkit-scrollbar {width: 5px}

body::-webkit-scrollbar-track {background:black}
body::-webkit-scrollbar-thumb {background:dodgerblue}

.slider-frame{
    overflow: hidden;
    height: 64vh;
    width: 52.1vw;
    margin-left: 26vw;
    margin-right: 21.9vw;
    margin-top: 0vh;
    position: relative;
    top: 0vh;
}

@-webkit-keyframes slide_animation{
	0% {left:0vw;}
	10% {left:0vw;}
	20% {left:52.1vw;}
	30% {left:52.1vw;}
	40% {left:104.2vw;}
	50% {left:104.2vw;}
	60% {left:52.1vw;}
	70% {left:52.1vw;}
	80% {left:0vw}
	90% {left:0vw}
	100%{left:0vw}
}

.slide-images
	{float:left;
		display:flex;
		border:0;
		padding:0;
	width:135.5vw;
	height:64vw;
	margin:0vh 0vw 0vh -104.2vw;
	position: relative;
		top: 0vh;
	-webkit-animation-name: slide_animation;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state:running;
}

.slide-images img {width:52.1vw;
					height:64vh;
}

.img-container {
	display:flex;
	margin:0;
		border:0%;
		padding:0%;
	height:64vh;
	width:156.3vw;
	position: relative;
	top:0vh;
	float: left;
}

li {text-decoration: none;
    display: block;
    background-color: black;
    padding: 0px;
    text-align: left;
	font-size:50px;
}

li a:hover {background-color:gray;
	text-decoration: underline;
}
ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    width: 15%;
    background-color: black;
    position: fixed; top: 25%;
    height: 100%;
    overflow: auto;
    text-align: center;
    font-family: fbi;
	font-size:50px;	
}

li a {
    display: block;
    color: dodgerblue;
    padding: 8px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
    font-size: 20px;
}

li a.active {
  background-color: dodgerblue;
  color:white;
}

li a:hover:not(.active) {
  background-color: dodgerblue;
  color:white;
}
#description 
{
    font-size: 40px;
}
#navbar {position: absolute; left: -10%; transition:400ms ease; z-index: 5}

#navbar:hover{position:absolute; left: 0%;
}

#title {
    z-index: 4;
    background-color: floralwhite;
    text-align: center;
    font-size:50px;
    padding-top: 1%;
	margin-bottom:0%;
	margin-left:5%;
	margin-top:0%;
	font-family: fbi;
}

#quote {text-align: center; 
	font-family: futuralight; 
	background-color:floralwhite;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top:0%;
	margin-left:5%;
	font-size:20px;
    }

.nike {list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: transparent;
    position: fixed; top:0;
    height: 25%;
    text-align: center;
    font-family: fbi;}

#About-Us {
    position: absolute;
    top: 96vh;
    font-family: futuralight;
    width: 26%;
    float: left;
    text-align: left;
    margin-left: 26%;
    margin-right: 22%;
    font-size: 100%;	
}
#image1 {
	position: absolute; 
	top:98vh;
	width:21%;
	margin-left:57%;
	margin-right:22%;
}


#Visit-Us 
{position:absolute;
	top:142vh;
	width: 26%;
	font-family:futuralight;
	text-align:right;
	margin-left:52%;
	margin-right:22%;
	
}


#image2 {position:absolute;
	top: 144vh;
	margin-left:26%;
	margin-right:53%;
	width:21%;
}
#Contact-Us {position:absolute;
	top:185vh;
	width: 26%;
	font-family:futuralight;
	margin-left:26%;
	margin-right: 52%;
	float: left;
	text-align: left;
}
#image3 {position:absolute;
	     top:185vh;
         width:21%;
		margin-left:57%;
		margin-right:22%;
}





#form {position:absolute; top: 220%;margin-left:16%;margin-right:0%}

iframe {position: absolute; top:15%; width: 50%;margin-left:27%;margin-right: 25%;padding: 0;}
